.title {
    max-width: 200px;
}

.profile-picture {
    max-width: 50px;
}

.bikestand {
    max-width: 500px;
}

@font-face {	
    src: url(webfonts/Montserrat-SemiBold.ttf);
    font-family: Montserrat;
}

montserrat {
    font-family: Montserrat, 'Times New Roman', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}